body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    margin: 40px auto;
    width: 300px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}
